.container {
    padding-top: 8%;
}

.container h1 {
    color: #2F4858;
    padding-bottom: 5%;
}

.filterContainer {
    display: flex;
    justify-content: space-around;
}

.availableCarsFiltersContainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
}