.cardAvailableCar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardAvailableCar {
    margin-top: 10%;
    margin-bottom: 10%;
    border: 3px solid #2F4858;
    padding: 5px;
    box-shadow: 7px 10px 10px black;
}


.cardAvailableCar {
    background-color: rgb(223, 227, 230);
    border-radius: 14px;
}

.cardAvailableCar .StandardBtn {
    color: white;
    background-color: #F6AE2D;
    border-radius: 14px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 5px;
}

Img {
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.cardAvailableCar .StandardBtn:hover {
    background-color: #FFE882;
}

.cardAvailableCar a {
    border-radius: 14px;
}

.carText {
    display: flex;
    justify-content: space-around;
}

.Border {
    border: 1px solid #F6AE2D;
    height: 60px;
}

.carInfo {
    width: 150px;
}

.carDetails h3 {
   color: #F6AE2D;
   font-weight: 600;
   padding-top: 20px;
}

.carDetails h6 {
    font-weight: 600;
    padding-bottom: 20px;
 }

.carDetails p {
    font-weight: 600;
}
