.checkoutFormContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.checkoutFormContainer {
    width: 25%;
}


.bookingFormInputFields {
    padding-left: 10%;
}

.valid {
    color: white;

}

.invalid {
    color: red;
}

