body{
    padding: 30px 30px;
  }
  
  .select{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(223, 227, 230);
    border: 2px solid #2F4858;
    padding-top: 4px;
    height: 35px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 0;
    margin: 0;
    border-radius: 14px;
  }

  .select:hover, .select:focus {
    border: 2px solid #F6AE2D;
    background-color: rgb(223, 227, 230);
  }

  ul{
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    position: absolute;
    border: 2px solid #2F4858;
    left: -1px;
    top: 38px;
    width: 100%;
    z-index: 1;
    border-radius: 14px;
  }
  
  .show{
    display:inline-block;
    background-color: rgb(223, 227, 230);
    transition: all 0.2s ease;
  }
  
  .hide{
    display:none;
  }

  .dropDownArrow {
    width: 16px;
    height: 11px;
    margin-left: 25px;
  }
