body{
    padding: 30px 30px;
  }
  
  .select{
    background-color: rgb(223, 227, 230);
    border: 1px solid #ececec;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 0;
    margin: 0;
  }
  
  ul{
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    position: absolute;
    border: 1px solid #ececec;  
    left: -1px;
    top: 38px;
    width: 100%;
  }
  
  .show{
    display:inline-block;
    background-color: rgb(223, 227, 230);
  }
  
  .hide{
    display:none;
  }