.checkoutMainContainer {
    height: 100%;
}

.formItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkoutMainTitle {
    padding-top: 5%;
    color: #2F4858;
}
