.checkoutMainContainer {
    height: 100%;
}

.checkoutMainContainer .formItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkoutMainTitle {
    padding-top: 15%;
    color: #2F4858;
}
