.checkoutMainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 8%;
}

.checkoutMainContainer .formItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkoutMainTitle {
    color: #2F4858;
}
